@using ChildMaintenanceCalculator.Models.ViewModels;
@using HtmlHelpers.BeginCollectionItemCore;
@using ExtensionMethods;

@model Step1ReceivingParent;

@{
    string htmlFieldPrefix;
}

    @{
        using (Html.BeginCollectionItem("Step1ReceivingParents"))
        {
            //TODO: Add null checking here
            htmlFieldPrefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix;
            string receivingParentIndex = ViewData.ContainsKey("receivingParentIndex") ? ViewData["receivingParentIndex"].ToString() : "0";
            int receivingParentId = int.Parse(receivingParentIndex) + 1;
            string receivingParentHtmlId = $"ReceivingParent[{receivingParentIndex}]";

            <div id="@($"addReceivingParent{receivingParentId}")" class="addReceivingParentDiv">
                <h2>Receiving Parent @(receivingParentId)</h2>
                <input asp-for="Id" type="hidden" value="@receivingParentId" />

                <label>First Name</label>
                <input asp-for="FirstName" />

                <div id="@($"addChildrenList{receivingParentId}")">
                    @{
                        //If the parent partial has been created by ajax request, then the new childIndex will have been passed from the controller and should be used from here
                        //If the parent partial is for the first parent, then the child index is 0
                        int childIndex = ViewData["firstChildIndex"] != null ? (int)ViewData["firstChildIndex"] : 0;
                        foreach (Step1Child child in Model.Step1Children)
                        {
                            <div>
                                @Html.PartialFor(model => child, "_AddChildPartial");
                            </div>
                            childIndex++;
                        }
                    }
                </div>

                <input type="button" id="addChildButton" class="addChildButton" value="+" data-chdbtnid="@receivingParentId" />
            </div>


        }
    }

    <script>

    $(document).ready(function () {

        $(document).on('click', ".addChildButton", function (evt) {
            console.log("Hit");
            event.preventDefault();
            var buttonClickedParentId = evt.target.getAttribute("data-chdbtnid");
            var targetParent = "addChildrenList" + buttonClickedParentId;
            var parentHtmlFieldPrefix = "@htmlFieldPrefix";
            var newChildIndex = $(".addChildDiv").length;
            $.ajax({
                type: "POST",
                url: "Step1AddNewChild/?index=" + newChildIndex + "&parentHtmlFieldPrefix=" + parentHtmlFieldPrefix,
                success: function (html) {
                    $("#" +targetParent).append(html);
                },
                error: function (jqHXR, textStatus, errorThrown) {
                    alert("Could not add new item: " + textStatus);
                }
            });
        });

    });
    </script>




