@using ChildMaintenanceCalculator.Models.ViewModels;
@using HtmlHelpers.BeginCollectionItemCore;
@model Step1Child;

@{
    string parentHtmlFieldPrefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix;
    string childIndex = ViewData.ContainsKey("childIndex") ? ViewData["childIndex"].ToString() : "0";
    int childId = int.Parse(childIndex) + 1;
    string childHtmlId = $"{parentHtmlFieldPrefix}.Child[{childIndex}]";
    string collectionNamePrefix = (bool)ViewData["firstChild"] ? "" : parentHtmlFieldPrefix + ".";
}

@{
    using (Html.BeginCollectionItem(collectionNamePrefix + "Step1Children"))
    {
        <div id="@($"addChild{childId}")" class="add-child-div form-block">
            <!--TODO: Give this a dynamic index based ID-->
            
            <div>
                <label class="child-title">Child @(childId)</label>
                <input asp-for="Id" type="hidden" value="@childId" />
            </div>
            
            <div class="form-field horizontal-field">
                <label class="form-label">First name</label>
                <div>
                    <input asp-for="FirstName" />
                </div>
            </div>

            <div class="form-field horizontal-field">
                <label class="form-label">Pre-existing arrangements</label>
                <div>
                    @Html.RadioButtonFor(m => m.PreExistingArrangements, true, new{ OnChange = "preExistingArrangementsChanged(true);"}) Yes
                    @Html.RadioButtonFor(m => m.PreExistingArrangements, false, new {@checked = "checked", OnChange = "preExistingArrangementsChanged(false);"}) No
                </div>
            </div>
            <!--TODO:Add a What DOes This mean help thing for pre-existing arrangenents-->
            
            <!--TODO: Make this conditionally visible dependin on checkbox above-->
            <div class="form-field hidden-field horizontal-field" id="preexistingArrangementsAmount">
                <label class="form-label">Pre-existing arrangements amount</label>
                <div>
                    <input asp-for="PreExisingArrangementsAmount" />
                </div>
            </div>


        </div>
    }
}

<script>
    //TODO: Make this work
    function preExistingArrangementsChanged(arr) {
        if (arr) {
            $("#preexistingArrangementsAmount")[0].classList.remove("hidden-field");
        } else {
            $("#preexistingArrangementsAmount")[0].classList.add("hidden-field");
        }
    };
</script>