@using System.Globalization
@model Calculation;

<!--TODO: Make this user friendly (add explanation page)-->
@*<div class="form-block">
        <label>Rate:</label>
        <label>@Model.RateBand</label>
    </div>*@

<div class="form-block">
    <label class="result-section-header">Total</label>
    <div>
        <span class="result-label">Total child maintenance payable per week</span>
        <label class="result-money">@Model.TotalMaintenancePayable.ToString("C", CultureInfo.CurrentCulture)</label>
    </div>

</div>

<hr/>

<div class="form-block">
    
    <label class="result-section-header">Breakdown</label>
    
    @foreach (var receivingParent in Model.PayingParent.ReceivingParents)
    {
        <div class="form-field">
            <label class="receiving-parent-title">@receivingParent.FirstName</label>
            <br/>
            <span class="result-label">Total child maintenance to be paid to @receivingParent.FirstName per week</span>
            <label class="result-money">@receivingParent.MaintenanceEntitlementAmount.ToString("C", CultureInfo.CurrentCulture)</label>

            @foreach (var child in receivingParent.Children)
            {
        <div>
            <span class="result-label">Amount to be paid for @child.FirstName</span>
            <label class="result-money">@child.ChildMaintenanceAmount.ToString("C", CultureInfo.CurrentCulture)</label>
            <br />
            @if (child.PreExistingMaintenanceArrangements)
            {
                <div class="add-child-div">

                    <span class="result-subtext">Pre-existing arrangements</span>
                    <label class="result-subtext">@child.PreExistingMaintenanceArrangementsAmount.ToString("C", CultureInfo.CurrentCulture)</label>
                    <br />
                    <span class="result-subtext">Remainder to pay</span>


                    @{
                        var remainder = child.ChildMaintenanceAmount - child.PreExistingMaintenanceArrangementsAmount;

                        if (remainder <= 0)
                        {
                            <label class="result-subtext">£0.00</label>
                        }
                        else
                        {
                            <label class="result-subtext">@remainder.ToString("C", CultureInfo.CurrentCulture)</label>
                        }
                    }
                </div>
            }

        </div>
                
            }
        </div>
    }
</div>

<hr/>
