@using ExtensionMethods
@using Microsoft.EntityFrameworkCore.Infrastructure
@using ChildMaintenanceCalculator.Models;
@model Calculation;

@{

<div class="form-page-wrap">
    <div class="for-page-content">

        <div>
            <h3 class="calculator-title">
                Child Maintenance Calculator
            </h3>
        </div>
        <div class="form-page-header">
            <div>
                <h3 class="form-step-title">
                    Calculation Result
                </h3>
            </div>
        </div>

        <div>
            <div class="tab-container">
                <ul class="tabs">
                    <li id="resultItem" class="tabs-item active"><a onclick="openTab('result')">Result</a></li>
                    <li id="answersItem" class="tabs-item"><a onclick="openTab('answers')">Answers</a></li>
                    @*<li id="explanationItem" class="tabs-item"><a onclick="openTab('explanation')">Explanation</a></li>*@
                </ul>
            </div>
            <div class="tab-right">
            </div>
        </div>

        <div id="resultTab" class="tab">
            @Html.PartialFor(model => model, "_ResultPartial")
        </div>
        <div id="answersTab" class="tab closed">
            @Html.PartialFor(model => model, "_AnswersPartial")
        </div>
        @*<div id="explanationTab" class="tab closed">
            @Html.Partial("_ExplanationPartial")
        </div>*@

        <div class="form-page-header">
            <div>
                <h3 class="form-step-title">
                    Save and Share
                </h3>
            </div>
        </div>
        <div class="share-button-wrapper">
            <button class="share-button" onclick="location.href='@Url.Action("GetResultAsPdf", "Home")'">
                Download PDF &nbsp;<i class="fa fa-download"></i>
            </button>
            <button id="emailButton" class="share-button" onclick="location.href='@Url.Action("EmailResult", "Home")'">
                Email results &nbsp; <i class="fa fa-envelope"></i>
            </button>
        </div>

        <div class="form-buttons-container">
            <input type="button"
                   value="Start a New Calculation"
                   onclick="location.href='@Url.Action("Step1", "Home")'"
                   class="form-next-button" />
        </div>


    </div>
</div>
        
}

<script>
    function openTab(tab) {
        $(".tabs-item").removeClass("active");
        var tabItemId = tab + "Item";
        console.log(tabItemId);
        $("#" + tab + "Item").addClass("active");
        
        var i;
        var tabs = $(".tab");
        for (i = 0; i < tabs.length; i++) {
            tabs[i].style.display = "none";
        }

        var tabId = tab + "Tab";
        console.log(tabId);
        document.getElementById(tabId).style.display = "block";
    }
</script>

