@using ChildMaintenanceCalculator.Models.ViewModels;
@using ExtensionMethods

@model Step4ViewModel;


<div class="form-page-wrap">
    <div class="form-page-content">
        
        <div>
            <h3 class="calculator-title">
                Child Maintenance Calculator
            </h3>
        </div>
        <div class="form-page-header">
            <div>
                <h3 class="form-step-title">
                    Step 4
                </h3>
            </div>
        </div>
        
        <form id="step4" asp-controller="Home" asp-action="Step4" asp-route-back="false" method="post">

            <div class="form-block">
                <label class="form-label">
                    On average, how many nights per year does each child stay with the paying parent?
                </label>

                @{
                    int childIndex = 0;
                    foreach (Step4Child child in Model.Step4Children)
                    {
                        <div class="form-block">

                            <div class="form-field">
                                <div>
                                    <label class="receiving-parent-title">
                                        @child.FirstName
                                    </label>
                                    <input asp-for="Step4Children[childIndex].Id" type="hidden" />
                                </div>

                                <div>
                                    <select asp-for="Step4Children[childIndex].NightsPayingParentCaresForChildPerYearHigh" class="form-ddl">
                                        <option value=@Child.SharedCare.LessThan52>@Child.SharedCare.LessThan52.GetDescription()</option>
                                        <option value=@Child.SharedCare.From52To103>@Child.SharedCare.From52To103.GetDescription()</option>
                                        <option value=@Child.SharedCare.From104To155>@Child.SharedCare.From104To155.GetDescription()</option>
                                        <option value=@Child.SharedCare.From156To174>@Child.SharedCare.From156To174.GetDescription()</option>
                                        <option value=@Child.SharedCare.MoreThan175>@Child.SharedCare.MoreThan175.GetDescription()</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        childIndex++;
                    }
                }
            </div>

            <div class="form-buttons-container">
                <input type="button" class="form-prev-button" value="Previous" onclick="location.href='@Url.Action("Step3A", "Home", new { back = true })'" />
                <button type="submit" class="form-next-button">Next</button>
            </div>

        </form>

    </div>
</div>